<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Pingo</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/reset.css">
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

</head>

<body class="bingo_content" onload="start_game({hour}, {minute}, {second})">
  <header>
    <a href="/"><img src="/static/images/arrowwhite.png" id="avsluta" alt="avslutaknapp" onclick="return confirm('Är du säker att du vill du avsluta spelet?')"></a>
    <div class="timer" id="counting_timer">
      <input id="hour" type="number" max="24" min="0" value="{{hour}}" class="time" readonly>
      <p id="bingo_p1" class="semicolon">:</p>
      <input id="minute" type="number" max="59" min="0" value="{{minute}}" class="time" readonly>
      <p id="bingo_p2" class="semicolon">:</p>
      <input id="second" type="number" max="59" min="0" value="{{second}}" class="time" readonly>
      
    </header>
  <div class="main-content">

    <div id="loss_modal_container" class="loss_modal_container">
      <div id="loss_modal" class="loss_modal">
        <p id="loss_message"></p>
        <button id="close_loss_modal" class="close_btn">Stäng</button>
      </div>
    </div>
    <header class="title">{{category}}</header>
    <div class="bingo_card">
      % for challenge in data: 
        <div class="box">
          <div class="front">
          {{challenge}}
          </div>
          <div class="back">
            
          </div>
        </div>
      % end 
    </div>
  </div>
  <div id="bingo_win">
    <img src="/static/images/PiNGO logga/Pingo.png" id="pingo_win"/>
  </div>
  
  <script src="/static/script.js"></script>
  <script src="/static/RSucces.js"></script>
</body>


</html>