<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="./static/style.css" />
        <title>Pingo</title>
    </head>
<body>
    <a href="/">
        <div class="pingologga">
            <img src="static/images/PiNGO logga/Pingo.png" />
        </div>
         </a>
         <p class="text1">
            En festapp för att göra kvällen bättre.
        </p>
        <div class="form">
            <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
            />
            <label for="floatingInput">E-postadress</label>
        </div>
        <div class="form">
            <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
            />
            <label for="floatingPassword">Lösenord</label>
        </div>
</body>