body {
    background: #f8f8f8;
    font-family: helvetica 'Courier New', Courier, monospace;
}

.title {
    color: black;
    padding: 30px 10px;
    text-align: center;
}

.bingo-card {
    background: whitesmoke;
    padding: 10px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: repeat(5, 110px);
    grid-template-columns: repeat(5, 1fr);
}

.box {
    border: solid black 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.green {
    background-color: rgb(3, 178, 3);
}

#hem {
    width: 50px;
    position: absolute;
    padding-top: 10px;
}

#bingo_win {
    display: none;
}

#Show_win {
    display: block;
	text-align: center;
    padding: 01.3rem;
    font-size: 60pt;
	color:deeppink ;
}

