html {
    -ms-touch-action: manipulation;

    touch-action: manipulation;
}

.index {
    /* Denna kod är länkad till index.html */
    background-color: #052631;
    color: white;
}

.custom-button {
    width: 200px;
    color: white;
}

h1 {
    font-size: 15px;
}

#spela {
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
}

#spela_spela {
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
    box-shadow: 0 0 6px white;
}

#spela:hover {
    background-color: rgba(255, 255, 255, 0.329);
}

#loggain {
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
}

#registrera {
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
}

.box {
    color: black;
    border: solid black;
}

.won {
    background-color: green;
    color: white;
}

.index .categories {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    max-width: fit-content;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
}

.index .pingologga img {
    width: auto;
    height: 150px;
    animation: animate infinite ease-in alternate 2s;
}

@keyframes animate {
    to {
        transform: translateY(10px);
    }
}

/*css för categories.html */
@media screen and (max-width: 600px) {
    #catcont {
        display: flex;
        flex-direction: column;
    }

    #cat {
        display: flex;
        flex-direction: column;
    }
}

.categories {
    background-color: #410964;
}

#cat {
    width: auto;
    background-color: rgba(255, 255, 255, 0.194);
    color: rgb(255, 255, 255);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

#add {
    width: auto;
    background-color: rgba(255, 255, 255, 0.194);
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

#cat:hover {
    background-color: rgba(255, 255, 255, 0.329);
}

.cat {
    letter-spacing: 5px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
    font-size: 35px;
}

.cattext {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.categories .pingologga img {
    width: auto;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.categories .profilbild img {
    width: auto;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
    object-position: right top;;
}

/*css för radera bingo-knappen*/
#delete {
    width: 30px;
    place-self: center;
}

#delete:hover {
    border: red solid;
    background-color: red;
    border-radius: 50%;
}

/*css för login.html*/
.login {
    background-color: #050931 !important;
    color: rgb(216, 213, 213) !important;
}

.login .pingologga img {
    margin: auto;
    height: 150px;
    animation: animate infinite ease-in alternate 2s;
}

@keyframes animate {
    to {
        transform: translateY(10px);
    }
}

#form {
    background-color: rgba(100, 100, 100, 0.706);
}

.login button {
    background-color: rgb(238, 9, 169) !important;
    color: white !important;
}


/*css för register.html*/
.register {
    background-color: #004852 !important;
    color: rgb(216, 213, 213) !important;
}

.register .pingologga img {
    margin: auto;
    height: 150px;
    animation: animate infinite ease-in alternate 2s;
}

@keyframes animate {
    to {
        transform: translateY(10px);
    }
}

#form2 {
    background-color: rgba(100, 100, 100, 0.706) !important;
}

.register button {
    background-color: rgb(0, 52, 59) !important;
    color: white !important;
}

/* CSS för bingobrädet på bingo.html */

.title {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: white;

    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.bingo_content {
    background-color: #6b0377;
}

.bingo_card {
    background-color: #0526315f;
    display: grid;
    max-width: 75%;
    margin: 0 auto;
    place-self: center;
    grid-gap: 3px;
    grid-template-rows: repeat(5, minmax(90px, 1fr));
    grid-template-columns: repeat(5, minmax(90px, 1fr));
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    

}

.box {
    border-radius: 4px;
    display: grid;
    border: solid rgb(255, 255, 255) 1px;
    text-align: center;
    text-shadow: 0 0 6px #ffffff;
    cursor: pointer;
    color: rgb(253, 253, 253);
    padding-top: 40px;
    font-size: 20px;


    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
    background-color: rgb(85, 41, 71);
}

.green {
    transform: rotateY(180deg);
}

#avsluta {
    width: 30px;
    position: absolute;
    padding-top: 10px;
    object-position: left top;
    margin-left: 10px;

}

@media (max-width: 767px) {
    .bingo-card {
        grid-template-rows: repeat(5, minmax(100px, 1fr));
        grid-template-columns: repeat(5, minmax(70px, 1fr));
    }

    .box {
        padding-top: 25px;
        font-size: 10px;
    }

    #avsluta {
        width: 30px;
        position: absolute;
        top: 0;
        left: 10px;
        padding-top: 10px;
    }

    #pingo_win {
        width: 480px;
        height: 332px;
    }
}

/*css för modalen som vissar förlustmeddelandet*/
.loss_modal_container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2e00435d;
}

.loss_modal {
    background-color: #000000c8;
    box-shadow: 0 0 15px #ae00ff;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 35px;
    color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid black;
    width: 60%;
    border-radius: 30px;
}

.close_btn {
    margin-top: 15px;
    padding: 10px;
    justify-items: center;
    color: #5700a9;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.889);
    border: 1px solid black;
}

@media (max-width: 575px) {
    .bingo_content {
        padding: 20px;
    }

    .bingo_card {
        width: 100%;
        height: 100%;
        place-content: center;
        grid-template-rows: repeat(5, minmax(72px, 5fr));
        grid-template-columns: repeat(5, minmax(70px, 5fr));
    }

    .box {
        font-size: 12px;
    }
}

/* css för add.html */
.add_body {
    color: white;
    background-color: #6b0377;
}

#add_cat {
    background-color: #e600ff;
    color: white;
    margin-top: auto;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    justify-self: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
}

.add_body .pingologga img {
    margin: auto;
    height: 50px;
    animation: animate infinite ease-in alternate 2s;
}

.add_title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

.cont {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.bingo-board {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
}

.bingo-board td {
    flex-basis: 20%;
    max-width: 20%;
    box-sizing: border-box;
    padding: 2px;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.box {
    border: solid rgb(255, 255, 255) 1px;
    text-align: center;
    cursor: pointer;
    color: rgb(253, 253, 253);
    background-color: rgba(85, 41, 71, 0.229);
    padding-top: 40%;
    font-size: 20px;
}

@media (max-width: 767px) {
    .box {
        padding-top: 25%;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .box {
        padding-top: 15%;
        font-size: 12px;
    }
}

.character_count{
    color: rgb(187, 187, 187);
    padding-left: 75px;
    font-size: 10px;
}

/* css för vinstmeddelande */
#bingo_win {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* denna fuckade jag upp efter att ha komprimerat alla css-filer - kom ihåg att fixa!!!!! */
#Show_win {
    visibility: visible;
    text-align: center;
    padding: 01.3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    height: 150px;
    background-color: rgba(85, 41, 71, 0.229);
    margin: 20px auto;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 40px;
}

#hour{
    grid-area: 1 / 1 / 4 / 1;
}

#minute{
    grid-area: 1 / 2 / 4 / 2;
}

#second{
    grid-area: 1 / 3 / 4 / 4;
}

@media (max-width: 768px) {
    #timer {
        width: 100%;
        font-size: 10px;
    }

    .label {
        font-size: 12px;
    }
}

#set_timer {
    grid-area: 1 / 1 / 4 / 4;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 16px 90px 10px;
    margin-bottom: 0%;
}

.label {
    justify-self: center;
    align-self: center;
    font-size: 16px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#timer_label {
    grid-area: 1 / 1 / 1 / 4;
    text-shadow: 0 0 6px #e600ff;
    color: rgb(253, 253, 253);
    background-color: rgba(85, 41, 71, 0.229);
    font-size: 20px;
    text-align: center;
    animation: heartBeat 2s;

}

#hour_label {
    grid-area: 2 / 1 / 2 / 2;
    padding: 0%;
    margin: 0%;
}

#minute_label {
    grid-area: 2 / 2 / 2 / 3;
    padding: 0%;
    margin: 0%;
}

#second_label {
    grid-area: 2 / 3 / 2 / 4;
    padding: 0%;
    margin: 0%;
}

#set_hour {
    grid-area: 3 / 1 / 3 / 2;
    size: 20px;
}

#set_minute {
    grid-area: 3 / 2 / 3 / 3;
}

#set_second {
    grid-area: 3 / 3 / 3 / 4;
}

#timer {
    grid-area: 1 / 1 / span 4 / span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
  }

#timer input[type="number"], #counting_timer input[type="number"] {
    height: 100%;
    width: 100%;
    font-size: 50px;
    box-sizing: border-box;
    text-align: center;
  }

.time {
    justify-self: center;
    align-self: center;

    border: none;
    background-color: #ffffff00;
    font-size: 20px;
    width: 40px;
    height: 50px;
    color: #ffffff;
}

.semicolon {
    justify-self: center;
    align-self: center;

    font-size: 40px;
    margin: 0;
}

#p1 {
    grid-area: 3 / 1 / 3 / 3;
}

#p2 {
    grid-area: 3 / 2 / 3 / 4;
}
#bingo_p1 {
    grid-area: 1 / 1 / 4 / 3;
}

#bingo_p2 {
    grid-area: 1 / 2 / 4 / 4;
}

#startbtn {
    grid-area: 4 / 2 / 4 / 2;
    background-color: #ffffff;
    color: #052631;
    height: 30px;
    width: 100px;
    box-shadow: 0 0 6px #e600ff;
}

.btn {
    align-self: center;
    background-color: rgba(54, 140, 150, 0.345);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    justify-self: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
}

#startbtn {
    grid-area: 4 / 2 / 4 / 2;
}

.btn {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.651);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    justify-self: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
}

.start {
    background-color: #082b37;
}

.start .pingologga img {
    width: auto;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.start p {
    color: #ffffff;
}

.pre_bingo_card {
    background-color: #0526315f;
    display: grid;
    max-width: 75%;
    margin: 0;
    place-self: center;
    grid-gap: 3px;
    grid-template-rows: repeat(5, minmax(90px, 1fr));
    grid-template-columns: repeat(5, minmax(90px, 1fr));
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin-top: 40px;
}

.pre_box {
    color: black;
    border: solid black;
    display: grid;
    grid-template-rows: 40% 1fr;
    grid-template-columns: 1fr 30px 1fr;
    border: solid #e600ff6a 1px;
    text-align: center;
    text-shadow: 0 0 6px #e600ff;
    cursor: pointer;
    color: rgb(253, 253, 253);
    background-color: rgba(85, 41, 71, 0.229);
    font-size: 20px;
    padding-top: 5px;


    transform-style: preserve-3d;
    transition: all 1s ease;
}

#delete_challenge{
    width: 30px;
    height: auto;
    grid-area: 1 / 2 / 2/ 2;
    box-shadow: 0 0 6px #e600ff;
    border-radius: 50%;
}

#pre_challenge {
    grid-area: 2 / 1 / 2 / 4;
}

/*css för hjälpmodalen*/
.info_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.info_content {
    background-color: crimson;
    margin: 15% auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
}

.close_info {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close_info:hover,
.close_info:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}