


body{
    background-color: #052631;
}

p{
    color: white;
}

h1 {
    font-size: 15px;
}

#spela{
    background-color: rgba(255, 255, 255, 0.194);
    border: none;
}

#spela:hover{
    background-color: rgba(255, 255, 255, 0.329) ;
}

.box {
    color: black;
    border: solid black;
}

.won {
    background-color: green;
    color: white;
}

.categories {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    max-width: fit-content;
}

a {
    color: white;
    text-decoration: none;
}

.pingologga img {
    width: auto;
    height: 150px;
    animation: animate infinite ease-in alternate 2s;
}

@keyframes animate {
    to {
      transform: translateY(10px);
    }
  }
